.course-content-container{
    position: relative;
    top: 50px;
}

.content-resource-skill-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
}

.course-content-title{
    font-family: 'Cabin', sans-serif;
    margin-bottom: 1rem;
}

.course-content-department{
    color: rgb(233, 111, 41);
    font-weight: 400;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.resource-text{
    font-family: 'Cabin', sans-serif;
    max-width: 250px;
}

.skills-text{
    font-family: 'Cabin', sans-serif;
}

.button-container{
    position: absolute;
    left: 80%;
    display: flex;
}

.button-container > button {
    white-space: nowrap;
}

.edit-mode{
    width: 800px;
    margin-bottom: 4rem;
}

.edit-mode-coursename{
    margin: 1rem;
}

.edit-mode-skill-column{
    margin-top: 20px;
}

.edit-mode-resource-column{
    margin-top: 20px;
}