.dashboard-content{
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 40% 40%;
    margin-bottom: 6rem;
}

@media (max-width:952px){
    .dashboard-content{
        grid-template-columns: 80%;
    }
}