.comment-card{
    margin: 1rem 1rem 3rem 1rem;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    position: relative;
}

.comment-rating-container{
    display: flex;
}