.course-card{
    margin: 1rem;
    height: 200px;
    color: black;
    border-radius: 7px;
    background-color: white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    position: relative;
}

.course-card:hover{
    background-color: rgb(214, 214, 214);
}

.course-card-top{
    width: 100%;
    background-color: rgb(224, 93, 33);
    padding: 7px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.course-card-title{
    position: absolute;
    left: 3%;
    top: 22%;
}

.course-card-title > h6, h4{
    font-weight: 400;
}

.course-card > h5{
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    top: 80%;
    left: 3%;
    color: rgb(233, 111, 41);
    font-weight: 400;
    padding: 5px;
    border-radius: 10px;

}

.course-card > h1{
    font-family: 'Cabin', sans-serif;
}